body{
    background-color:#ffffff;
    height: 900px;
}
.form{
    position: fixed;
    overflow: hidden;
    top:0;
    margin-top: 10px;
    height:100px;
    width: 1500px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    display: flex;
    border-radius: 10px;
}
.bot{
    z-index:-10;
    height:400px;
    width:300px;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    margin-top: 120px;
    border-radius: 20px;
    right : 0;
}
.bot:hover{
    background:linear-gradient(grey,white);
}
.boti{
    height:400px;
    width:300px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    margin-top: 20px;
    opacity: 0.5;
    border-radius: 20px;
    margin-left: 100px;
    left:0;

}
.form a{
    padding : 39px 20px;
    float:left;
    font-size:20px;
}
.form a:hover{
    background : linear-gradient(to right , black,white);
    color:aliceblue;
}
.btn{
    border-color:rgba(255,255,255,0.1) ;
    background-color: rgba(255,255,255,0.1);
}
.form img{
    width: 100px;
}