.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .3rem;
    text-align:center;
    background:none;
  }
  .sectionLight{
    background-color:#eceeef;
    padding:2rem;
  }
  .sectionDark{
    background-color:#cccccc;
    padding:2rem;
  }
  div.btn{
    text-align: center;
  }
  .coolStuffWrapper{
    margin-top:20px;
  }
  button.coolStuffBtn{
    background-color:#000;
    color:#fff;
    display: block;
    margin: auto;
  }
  button.btn:hover{
    color:#cccccc;
  }